.header {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  background-color: rgba(60,208,255, .4);
  color: #515151;
};
.header-title-img {
  background: url(./welcome.png) no-repeat 50%;
  background-size: 30%;
  display: block;
  height: 40px;
}
